.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: black;
    color: white;

}
.sidebar-header{
    color: white;
}
/* Sidebar Headers */
#all-header {
    font-size: 2em;
    color: white;
}
#a-through-e {
    font-size: 20px;
}
.sidebar-link{
    color: white;

}
#sidebar {
    max-width: 264px;
    min-width: 264px;
    transition: all 1s ease-in-out;
    background-color: #161613;
    display: flex;
    flex-direction: column;
}

#sidebar.collapsed {
    margin-left: -264px;
}