/* Home Page Styling */

@keyframes spinRecord {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

#index-main {
    background-color: black;
    color: white;
    overflow: hidden;
}
.main {
    min-height: 90;
    width: 100%;
    display: block;
    overflow: hidden;
}

#home-heading {
    text-align: center !important;
    font-family: "Press Start 2P", system-ui !important;
    font-weight: 400;
    font-style: normal;
    color: white;

}

#site_intro {
    font-family:'Times New Roman', Times, serif;
}

#blur {
    width: 100%;
    z-index: 1;
    position: absolute;
    background-color: black;
    opacity: 0.6;
}

.socials-lists {
    list-style: none;
    justify-self: center;
}

/* End-----------------*/
/* Footer Styling */

footer {
    background-color: black;
    margin-bottom: -12px;
    padding-bottom: 10px;
    color: white;
}

/* End----------------*/
/* Sidebar Headers */
.sidebar-header{
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 5px;
    
}

#all-header {
    font-size: 2em;
    color: white;
}

.sidebar-link{
    color: white;
    text-decoration: none;
    transition: text-shadow 1s ease;
}
.sidebar-link:hover {
    text-shadow: 5px -1px 10px hotpink;
}

.sidebar-item {
    margin-left: 30px;
    font-size: 15px;
}
#sidebar {
    max-width: 300px;
    min-width: 300px;
    transition: all 1s ease-in-out;
    background-color: #161613;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#sidebar.collapsed {
    margin-left: -300px;
}

#button-bg {
    background-color: #161613;
    height: 75px;
    margin-top: 10px;
    width: 33px;
    position: absolute;

}
.facing-right {
    transform: rotate(0deg);
}

.facing-left {
    transform: rotate(180deg);  
}

.facing-left, .facing-right {
    color: white;
    font-weight: 1000;
    font-size: 25px;
    border: none;
    transition: transform 1s ease;
    background-color: transparent;
    position: relative;
}
/* End of Sidebar Styling */

/* Ako Page Styling */
#sidebar-ako {
    background-color: red;
    max-width: 300px;
    min-width: 300px;
    transition: all 1s ease-in-out;
    display: flex;
    flex-direction: column;
    height:auto;
}
#sidebar-ako.collapsed {
    margin-left: -300px;
}
#button-bg-ako {
    background-color: red;
    height: 75px;
    width: 33px;
    position: absolute;
}

/* Ako Artist Stuff Styling */
#artist-stuff {
    width: 100%;
    display: inline-flex;
    margin-bottom: 7%;
    margin-top: 3%;
    background-color: #161613;
}

#artist-photo {
    width: 30vh;
    height: 30vh;
    background-color: blue;
    margin: 0 auto;
    margin-top: 10%;

}
#ako-photocard-background {
    background-color: darkred;
    width: 80dvh;
    height: 85dvh;
    display: inline-block;
}

.ako-photo-card-headers {
    margin-top: 5%;
    justify-self: center;
}

#artist-description {
    justify-self: center;
}
#ako-photo-card{
    float: left;
}

/* Ako Video Styling */

#ako-video-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 6vh;
    color: white;
}

#ako-video {
    width: 120%;
    height: 70%;
}
/* Record Player Styling */

#now-playing {
    display: block;
}

#now-playing-song-blank {
    display: inline;
}
#songs-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10dvh;
}

.circle {
    border-radius: 50%;
    height: 35dvh;
    width: 35dvh;
    margin: 10% 5vh 10% 5vh;
}

.animate {
    animation: spinRecord;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.animate-running {
    animation-play-state: running;
}
.animate-paused {
    animation-play-state: paused;
}

/* 
